<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.np.spendid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spendid">
        <activity android:name=".Misc.DailyLimitActivity"></activity>
        <activity android:name=".Records.ViewImageActivity" />
        <activity android:name=".Statistics.StatisticsAllCatActivity"></activity>
        <activity android:name=".Records.ViewImageActivity" />
        <activity android:name=".Statistics.StatisticsActivity" />
        <activity android:name=".DataTransfer.ImportActivity" />
        <activity android:name=".Friends.ViewFriendActivity" />
        <activity android:name=".Friends.ProfileActivity" />
        <activity android:name=".Friends.FriendScannerActivity" />
        <activity android:name=".Friends.FriendsListActivity" />
        <activity
            android:name=".Friends.Utils.Capture"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true" />
        <activity android:name=".DataTransfer.ImportExternalActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/comma-separated-values" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity android:name=".Dashboard.MainActivity" />
        <activity android:name=".DataTransfer.ExportActivity" />
        <activity android:name=".ExchangeRates.ExchangeRateActivity" />
        <activity android:name=".ShoppingList.ShoppingListMainActivity" />
        <activity android:name=".ShoppingList.ShoppingListActivity" />
        <activity android:name=".Misc.SettingsActivity" />
        <activity android:name=".Misc.AboutActivity" />
        <activity android:name=".Wallets.EditWalletActivity" />
        <activity android:name=".RecordsHistory.SearchActivity" />
        <activity android:name=".Records.ViewTransactionActivity" />
        <activity android:name=".Wallets.WalletCurrencyActivity" />
        <activity android:name=".Wallets.AddWalletActivity" />
        <activity android:name=".Records.EditRecordActivity" />
        <activity android:name=".RecordsHistory.TransactionHistoryActivity" />
        <activity android:name=".Wallets.ManageWalletActivity" />
        <activity android:name=".Records.AddRecordActivity" />
        <activity android:name=".Misc.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="sg.edu.np.spendid.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>